
A:link {color: gray}
A:visited, A:active {color: green}

	
Body {
	background-color: white;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt; text-align: center}

P {font-size: 10pt; font-family: monospace; text-align: center}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen
}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}


	nav {
		font-size: 25pt;
		text-align: center;
		font-family: cambria
	}

	
@media screen and (max-width: 1500px) {
	nav {
		font-size: 25pt;
		text-align: center;
		font-family: cambria
	}

	H1 {
		text-align: center;
	}
	H2 {
		text-align: center;
	}

	H5 {
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {
	nav {
		font-size: 25pt;
		text-align: center;
		font-family: cambria
	}

	H1 {
		text-align: center;
	}
	H2 {
		text-align: center;
	}

	H5 {
		text-align: center;
	}
}	

@media screen and (max-width: 700px) {
	nav {
		font-size: 25pt;
		text-align: center;
		font-family: cambria
	}

	nav:hover {
		color: pink;
	}

	H1 {
		text-align: center;
		font-size: 60px;
	}

	H2 {
		text-align: center;
	}

	H5 {
		text-align: center;
	}


}